<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="/create-contract">Add Contract</a></li>
                <li><h3>List Contract</h3></li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Employee</td>
                            <td>Customer</td>
                            <td>Service</td>
                            <td>Date Begin</td>
                            <td>Date End</td>
                            <td>Deposits</td>
                            <td>Total Money</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr th:each="contract:${contracts.content}">
                            <td th:text="${contract.emplu}"></td>
                            <td th:text="${service.acreage}"></td>
                            <td th:text="${service.maximumNumberOfPeople}"></td>
                            <td th:text="${service.numberOfFloors}"></td>
                            <td th:text="${service.rentalCosts}"></td>
                            <td th:text="${service.status}"></td>
                            <td th:text="${service.rentalType.nameRentalType}"></td>
                            <td th:text="${service.rentalType.price}"></td>
                            <td th:text="${service.typeOfService.nameTypeOfService}"></td>
                            <td><a th:href="@{/service-edit/{id}(id=${service.id})}">Edit</a></td>
                            <td><a th:href="@{/service-delete/{id}(id=${service.id})}">Delete</a></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <a th:if="${services.hasPrevious()}" th:href="@{/service(page=${services.number - 1})}">Previous</a>
                    <span th:text="${services.number + 1}"></span>/<span th:text="${services.totalPages}"></span>
                    <a th:if="${services.hasNext()}" th:href="@{/service(page=${services.number + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>