<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
                <ul id="service">
                    <li><a href="/customer">List Customer</a></li>
                    <li><h3>Delete Customer</h3></li>
                    <li>You definitely want to delete</li>
                    <li>
                        <form action="/customer-delete" method="post" th:object="${customer}">
                            <input type="hidden" th:field="*{maKhachHang}"/>
                            <input type="submit" value="Delete"/>
                        </form>
                    </li>
                </ul>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>