<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="/customer">List Customer</a></li>
                <li><h3>Update Customer</h3></li>
                <li>
                    <form action="/customer-edit" method="post" th:object="${customer}">
                        <input type="hidden" th:field="*{maKhachHang}"/>
                        <table>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" th:field="*{tenKhachHang}"/></td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td><input type="text" th:field="*{diaChi}"/></td>
                            </tr>
                            <tr>
                                <td>BirthDay</td>
                                <td><input type="text" th:field="*{birthDay}"/></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><input type="text" th:field="*{email}"/></td>
                            </tr>
                            <tr>
                                <td>Id Card</td>
                                <td><input type="text" th:field="*{chungMinhThu}"/></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td><input type="text" th:field="*{soDienThoai}"/></td>
                            </tr>
                            <tr>
                                <td>Guest Type customer</td>
                                <td>
                                    <select th:field="*{guestTypeCustomer.id}">
                                        <option th:each="guestType:${guestType}" th:value="${guestType.id}" th:text="${guestType.guestType}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Update"/></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>