<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>List Customer</h3>
<p><a href="/guest-type">Come List Guest Type</a></p>
<p><a href="/customer/create">Add Customer</a></p>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Guest Type</th>
        <th>Birth Day</th>
        <th>Id Card</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Address</th>
        <th colspan="2"></th>
    </tr>
    <tr th:each="customers:${customers}">
        <th th:text="${customers.name}"></th>
        <th th:text="${customers.guestTypeCustomer.guestType}"></th>
        <th th:text="${customers.birthday}"></th>
        <th th:text="${customers.idCard}"></th>
        <th th:text="${customers.phoneNumber}"></th>
        <th th:text="${customers.email}"></th>
        <th th:text="${customers.address}"></th>
        <th><a th:href="@{/customer/edit/{id}(id=${customers.id})}">edit</a></th>
        <th><a th:href="@{/customer/delete/{id}(id=${customers.id})}">delete</a></th>
    </tr>
</table>
</body>
</html>