<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="create-customer">Add Customer</a></li>
                <li><h3>List Customer</h3></li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Name</td>
                            <td>Address</td>
                            <td>Birth Day</td>
                            <td>Email</td>
                            <td>Id Card</td>
                            <td>Phone</td>
                            <td>Guest Type Customer</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr th:each="customer:${customers.content}">
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.address}"></td>
                            <td th:text="${customer.birthDay}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.idCard}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.guestTypeCustomer.guestType}"></td>
                            <td><a th:href="@{/customer-edit/{id}(id=${customer.id})}">Edit</a></td>
                            <td><a th:href="@{/customer-delete/{id}(id=${customer.id})}">Delete</a></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <a th:if="${customers.hasPrevious()}" th:href="@{/customer(page=${customers.number - 1})}">Previous</a>
                    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
                    <a th:if="${customers.hasNext()}" th:href="@{/customer(page=${customers.number + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <div id="between_below">

        </div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>