<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<table border="1" >
    <tr>
        <td id="header" colspan="2"><h3>Trang Chủ</h3></td>
    </tr>
    <tr>
        <td id="nav" th:each="productList:${productList}">
            <ul>
                <a th:href="@{/view/{id}(id=${productList.codeProduct})}">
                    <li><img th:src="${productList.img}"></li>
                </a>
            </ul>
        </td>
    </tr>
    <tr>
        <td id="main" th:each="productList:${productList}">
            <ul>
                <li th:text=" ${productList.name}"></li>
                <li id="price" th:text="${productList.price}"></li>
            </ul>
        </td>
    </tr>
</table>
<footer th:replace="layout::footer"></footer>

<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>Name</th>-->
<!--        <th>Price</th>-->
<!--        <th>Img</th>-->
<!--        <th></th>-->
<!--    </tr>-->
<!--    <tr th:each="productList:${productList}">-->
<!--        <th th:text="${productList.name}"></th>-->
<!--        <th th:text="${productList.price}"></th>-->
<!--        <th><img th:src="${productList.img}"></th>-->
<!--        <th><a th:href="@{/view/{id}(id=${productList.codeProduct})}">view</a></th>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>