<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table{
            width: 650px;
            margin: auto;
        }
        #header{
            width: 100%;
            background: black;
            color: white;
            text-align: center;
        }
        ul {
            list-style-type: none;
        }
        li{
            text-align: center;
        }
        #price{
            color: maroon;
        }
        h3, h6, h4{
            text-align: center;
        }

    </style>
</head>
<body>
<footer th:fragment="footer">
    <h6>****Võ Ngọc Quân****</h6>
    <h6>Địa chỉ: Thái Thị Bôi - Đà Nẳng</h6>
</footer>
</body>
</html>