<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<footer th:replace="layout::footer"></footer>
<h3>Add Product</h3>
<form th:action="@{/create}" th:object="${product}" method="post">
    <table>
        <tr>
            <th>Name</th>
            <th><input type="text" th:field="*{name}"/></th>
        </tr>
        <tr>
            <th>Price</th>
            <th><input type="text" th:field="*{price}"/></th>
        </tr>
        <tr>
            <th>Description</th>
            <th><input type="text" th:field="*{description}"/></th>
        </tr>
        <tr>
            <th>Producer</th>
            <th><input type="text" th:field="*{producer}"/></th>
        </tr>
    </table>
    <div>
        <input type="submit" value="Save"/>
    </div>
    <p th:text="${message}"></p>

</form>
</body>
</html>