<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<footer th:replace="layout::footer"></footer>
<h3>Update Product</h3>
<form th:action="@{/update}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td>Producer</td>
            <td><input type="text" th:field="*{producer}"/></td>
        </tr>
    </table>
    <div>
        <input type="submit" value="update"/>
    </div>

</form>
</body>
</html>