<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body th:object="${product}">
<footer th:replace="layout::footer"></footer>
<table border="1">
    <tr>
        <td>Name</td>
        <td th:text="*{name}"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td th:text="*{price}"></td>
    </tr>
    <tr>
        <td>Description</td>
        <td th:text="*{description}"></td>
    </tr>
    <tr>
        <td>Producer</td>
        <td th:text="*{producer}"></td>
    </tr>
</table>
</body>
</html>