<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:object="${blog}">
<header th:replace="layout::header"></header>
<h3 th:text="'blog information ' + *{name} + ' !'"></h3>
<table border="1px">
    <tr>
        <th>Name</th>
        <th>Content</th>
    </tr>
    <tr>
        <th th:text="*{name}"></th>
        <th th:text="*{content}"></th>
    </tr>
</table>
<footer th:replace="layout::footer"></footer>
</body>
</html>