<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create" th:text="#{link_create}"></a>
<table border="1px">
    <tr>
        <td th:text="#{no}"></td>
        <td th:text="#{first_name}"></td>
        <td th:text="#{last_name}"></td>
        <td colspan="2"></td>

    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td><a th:href="@{/customer/{id}/delete(id=${customer.id})}" th:text="#{link_delete}"></a></td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.id})}" th:text="#{link_view}"></a></td>
    </tr>
</table>
</body>
</html>