<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::hear">
<body>
<h1>Thêm Nhân Viên</h1>
<h4><a href="/">trở về</a></h4>
<div id="form">
    <form action="/create" method="post" th:object="${nhanVien}">
        <div>
            <label>Nhóm Nhân Viên</label>
            <select th:field="*{nhomNhanVien}">
                <option value="nhóm 1">nhóm 1</option>
                <option value="nhóm 2">nhóm 2</option>
            </select>
        </div>
        <div>
            <label>Họ Và Tên</label>
            <input th:field="*{hoVaTen}"/>
        </div>
        <div>
            <label>Ngày Sinh</label>
            <input type="date" th:field="*{ngaySinh}"/>
        </div>
        <div>
            <label>Giới Tính</label>
            <input type="radio" th:field="*{gioiTinh}" th:name="gioiTinh" value="Nam" checked/>Nam
            <input type="radio" th:field="*{gioiTinh}" th:name="gioiTinh" value="Nữ"/>Nữ
        </div>
        <div>
            <label>Số Điện Thoại</label>
            <input th:field="*{soDienThoai}"/>
        </div>
        <div>
            <label>Chứng Minh Thư</label>
            <input th:field="*{chungMinhThu}"/>
        </div>
        <div>
            <label>email</label>
            <input th:field="*{email}"/>
        </div>
        <div>
            <label>Địa Chỉ</label>
            <input th:field="*{diaChi}"/>
        </div>
        <input type="submit" value="thêm"/>
    </form>
</div>

</body>
</html>