<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="service-create">Thêm Dịch Vụ</a></li>
                <li><h3>Danh Sách Dịch Vụ</h3></li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Tên</td>
                            <td>Diện Tích Sử Dụng</td>
                            <td>Số Người Tối Đa</td>
                            <td>Chi Phí Thuê</td>
                            <td>Loai Dịch Vụ</td>
                            <td>Tiêu Chuẩn Phòng</td>
                            <td>Mô Tả Tiện Nghi Khác</td>
                            <td>Diện Tích Hồ Bơi</td>
                            <td>Số Tầng</td>
                            <td>Dịch Vụ Đi Kèm Miễn Phí</td>
                            <td>Kiểu Thuê</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr th:each="dichVu:${listDichVu.content}">
                            <td th:text="${dichVu.tenDichVu}"></td>
                            <td th:text="${dichVu.dienTichSuDung}"></td>
                            <td th:text="${dichVu.soNguoiToiDa}"></td>
                            <td th:text="${dichVu.chiPhiThue}"></td>
                            <td th:text="${dichVu.loaiDichVu.tenLoaiDichVu}"></td>
                            <td th:text="${dichVu.tieuChuanPhong}"></td>
                            <td th:text="${dichVu.moTaTienNghiKhac}"></td>
                            <td th:text="${dichVu.dienTichHoBoi}"></td>
                            <td th:text="${dichVu.soTang}"></td>
                            <td th:text="${dichVu.dichVuMienPhiDiKem}"></td>
                            <td th:text="${dichVu.kieuThue.tenKieuThue}"></td>
                            <td><a th:href="@{/service-edit/{id}(id=${dichVu.maDichVu})}">Chỉnh Sửa</a></td>

                            <td>
                                <input type="submit" value="Delete"
                                       th:onclick="'deleteService(' + ${dichVu.maDichVu} + ')'"/>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <a th:if="${listDichVu.hasPrevious()}" th:href="@{/service(page=${listDichVu.number - 1})}">
                        Previous
                    </a>
                    <span th:text="${listDichVu.number + 1}"></span>/<span th:text="${listDichVu.totalPages}"></span>
                    <a th:if="${listDichVu.hasNext()}" th:href="@{/service(page=${listDichVu.number + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <div id="between_below">

        </div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
<script type="text/javascript">
    function deleteService(id){
        if(confirm("Bấm vào nút OK để xóa") == true){
            console.log(id);
            location.href = "/service-delete/" + id;
        }else{
            document.getElementById.innerHTML
        }
    }

</script>
</body>
</html>