<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="CaseStudy.css" />
</head>
<body>
<div id="logo">logo</div>
<div id="menu_top">
    <ul>
        <li><a href="/" title="Home">Home</a></li>
        <li><a href="#" title="Dịch Vụ">Dịch Vụ</a>
            <ul>
                <li><a href="/customer">Customer</a></li>
                <li><a href="/customer">ấdsdf</a></li>
            </ul>
        </li>
        <li><a href="#" title="Tìm Kiếm">Tìm Kiếm</a></li>
        <li><a href="#" title="Review">Review</a></li>
    </ul>
</div>
<div id="main">
    <div id="left">left</div>
    <div id="between">
        <div id="between_on">
            <p><a href="/customer">List Customer</a></p>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <div>
        <div id="right">
            <div id="right_on">right_on</div>
            <div id="right_below">right_below</div>
        </div>
    </div>
</div>
</body>
</html>