<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:replace="layout::home_category"></footer>
<h3 th:text="${string}"></h3>
<p th:text="'Are you want delete category ' + ${categoryBlog.category} + ' ?'">/p>
<form action="/delete-category" method="post" th:object="${categoryBlog}">
    <input type="hidden" th:field="*{id}"/>
    <input type="submit" value="delete"/>
</form>
<footer th:replace="layout::footer"></footer>
</body>
</html>