<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="layout::home"></header>
<h3>List Category Blog</h3>
<p><a href="/create-category">Add category</a></p>
<h3 th:text="${string}"></h3>
<table border="1">
    <tr>
        <th>Category</th>
        <th colspan="2"></th>
    </tr>
    <tr th:each="categoryBlogs:${categoryBlogs.content}">
        <th th:text="${categoryBlogs.category}"></th>
        <th><a th:href="@{/edit-category/{id}(id=${categoryBlogs.id})}">Edit</a></th>
        <th><a th:href="@{/delete-category/{id}(id=${categoryBlogs.id})}">Delete</a></th>
    </tr>
</table>
<div>
    <a th:if="${categoryBlogs.hasPrevious()}" th:href="@{/category-blog/(page=${categoryBlogs.number - 1})}">Previous</a>
    <span th:text="${categoryBlogs.number + 1}"></span>/<span th:text="${categoryBlogs.totalPages}"></span>
    <a th:if="${categoryBlogs.hasNext()}" th:href="@{/category-blog/(page=${categoryBlogs.number + 1})}">Next</a>
</div>
<footer th:replace="layout::footer"></footer>
</body>
</html>