<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="layout::home"></header>
<h3>Add Blog</h3>
<form action="/create" method="post" th:object="${blog}" >
    Title <input type="text" th:field="*{title}" /> <br>
<!--    <input type="hidden" th:field="*{timeDate}" />-->
    Description <input type="text" th:field="*{description}" /> <br>
    Category <select th:field="*{categoryBlog.id}">
        <option th:each="categoryBlog:${categoryBlog.content}" th:value="${categoryBlog.id}" th:text="${categoryBlog.category}"></option>
    </select> <br>
    Main <input type="text" th:field="*{main}" /> <br>
    <input type="submit" value="Add Blog" />
</form>
<footer th:replace="layout::footer"></footer>
</body>
</html>