<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<header th:replace="layout::heard"></header>-->
<a href="/create-province">Create new province</a>
<h1>Provinces</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="province : ${provinces}">
        <tr>
            <th th:text="${province.name}"></th>
            <th><a th:href="@{/edit-province/{id}(id=${province.id})}">Edit</a></th>
            <th><a th:href="@{/delete-province/{id}(id=${province.id})}">Delete</a></th>
        </tr>
    </th:block>
</table>
</body>
</html>