<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>User Login</h1>
<form th:action="@{/login}" th:object="${user}" method="post">
    <table >
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="password" th:field="*{password}"/></td>
        </tr>
    </table>
    <p th:text="${message}"></p>
    <input type="submit" value="Login"/>
</form>
</body>
</html>