<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><h3>Danh Sách Khách Hàng Sử Dụng Dịch Vụ</h3></li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Mã Khách Hàng</td>
                            <td>Tên</td>
                            <td>Địa Chỉ</td>
                            <td>Ngày Sinh</td>
                            <td>Email</td>
                            <td>Chứng Minh Thư</td>
                            <td>Số Điện Thoại</td>
                            <td>Loại Khách</td>
                        </tr>
                        <tr th:each="khachHang:${listKhachHang}">
                            <td th:text="${khachHang.maKhachHang}"></td>
                            <td th:text="${khachHang.tenKhachHang}"></td>
                            <td th:text="${khachHang.diaChi}"></td>
                            <td th:text="${khachHang.ngaySinh}"></td>
                            <td th:text="${khachHang.email}"></td>
                            <td th:text="${khachHang.chungMinhThu}"></td>
                            <td th:text="${khachHang.soDienThoai}"></td>
                            <td th:text="${khachHang.loaiKhach.loaiKhach}"></td>

                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <div id="between_below">

        </div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>