<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="customer-create">Thêm Khách Hàng</a></li>
                <li><h3>Danh Sách Khách Hàng</h3></li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Tên</td>
                            <td>Địa Chỉ</td>
                            <td>Ngày Sinh</td>
                            <td>Email</td>
                            <td>Chứng Minh Thư</td>
                            <td>Số Điện Thoại</td>
                            <td>Loại Khách</td>
                            <td colspan="2"></td>
                        </tr>
                        <tr th:each="khachHang:${listKhachHang.content}">
                            <td th:text="${khachHang.tenKhachHang}"></td>
                            <td th:text="${khachHang.diaChi}"></td>
                            <td th:text="${khachHang.ngaySinh}"></td>
                            <td th:text="${khachHang.email}"></td>
                            <td th:text="${khachHang.chungMinhThu}"></td>
                            <td th:text="${khachHang.soDienThoai}"></td>
                            <td th:text="${khachHang.loaiKhach.loaiKhach}"></td>
                            <td><a th:href="@{/customer-edit/{id}(id=${khachHang.maKhachHang})}">Chỉnh Sửa</a></td>

                            <td>
                                <input type="submit" value="Delete"
                                       th:onclick="'deleteCustomer(' + ${khachHang.maKhachHang} + ')'"/>
                            </td>
                            <td>
                                <a href="/customer" th:value="${khachHang.maKhachHang}" th:onclick="'deleteCustomer(' + ${khachHang.maKhachHang} + ')'">Delete</a>
                            </td>
                        </tr>
                    </table>
                </li>
                <li>
                    <a th:if="${listKhachHang.hasPrevious()}" th:href="@{/customer(page=${listKhachHang.number - 1})}">Previous</a>
                    <span th:text="${listKhachHang.number + 1}"></span>/<span th:text="${listKhachHang.totalPages}"></span>
                    <a th:if="${listKhachHang.hasNext()}" th:href="@{/customer(page=${listKhachHang.number + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <div id="between_below">

        </div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
<script type="text/javascript">
    function deleteCustomer(id){
        if(confirm("Bấm vào nút OK để xóa") == true){
            console.log(id);
            location.href = "/customer-delete/" + id;
        }else{
            document.getElementById.innerHTML
        }
    }

</script>
</body>
</html>