<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><h3>Thêm Hợp Đồng Chi Tiết</h3></li>
                <li>
                    <form action="/contract-detail-create" method="post" th:object="${hopDongChiTiet}">
                        <table>
                            <tr>
                                <td>Mã Hợp Đồng</td>
                                <td><input th:field="*{hopDong.maHopDong}"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="/search-contract" >Chọn Hợp Đồng</a></td></tr>
                            <tr>

                            <td>Mã Dịch Vụ Đi Kèm</td>
                            <td><input type="text" th:field="*{dichVuDiKem.maDichVuDiKem}"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="/search-accompanied-service" >Chọn Dịch Vụ Đi Kèm</a></td>
                            <tr>
                            <tr>
                                <td>Số Lượng</td>
                                <td><input type="text" th:field="*{soLuong}"/></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Add Contract"/></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>