<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="/accompanied-service-detail-create">Trở Về</a></li>
                <li><h3>Chọn Dịch Vụ Đi Kèm</h3></li>
                <li>
                    <form method="post" action="/search-accompanied-service-list">
                        <input type="text" name="key"/>
                        <input type="submit" value="search"/>
                    </form>
                </li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Tên Dịch Vụ Đi Kèm</td>
                            <td>Đơn Vị</td>
                            <td>Giá</td>
                            <td>Trạng Thái</td>
                        </tr>
                        <tr th:each="hopDong:${listAccompaniedService.content}">
                            <td><a th:href="@{/contract-detail/contract/{id}(id=${hopDong.maHopDong})}"
                                   th:text="${hopDong.maHopDong}"></a></td>
                            <td th:text="${hopDong.ngayLamHopDong}"></td>
                            <td th:text="${hopDong.ngayKetThucHopDong}"></td>
                            <td th:text="${hopDong.tienDatCoc}"></td>
                            <td th:text="${hopDong.tongTien}"></td>
                            <td th:text="${hopDong.dichVu.tenDichVu}"></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <a th:if="${listHopDong.hasPrevious()}" th:href="@{/contract(page=${listHopDong.number - 1}, key=${key})}">Previous</a>
                    <span th:text="${listHopDong.number + 1}"></span>/<span th:text="${listHopDong.totalPages}"></span>
                    <a th:if="${listHopDong.hasNext()}" th:href="@{/contract(page=${listHopDong.number + 1}, key=${key})}">Next</a>
                </li>
            </ul>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>