<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="/service">List Service</a></li>
                <li><h3>Update Service</h3></li>
                <li>
                    <form action="/service-edit" method="post" th:object="${service}">
                        <input type="hidden" th:field="*{maDichVu}"/>
                        <table>
                            <tr>
                                <td>Name</td>
                                <td><input type="text" th:field="*{tenDichVu}"/></td>
                            </tr>
                            <tr>
                                <td>Acreage</td>
                                <td><input type="text" th:field="*{dienTich}"/></td>
                            </tr>
                            <tr>
                                <td>Maximum People</td>
                                <td><input type="text" th:field="*{soNguoiToiDa}"/></td>
                            </tr>
                            <tr>
                                <td>Number Of Floors</td>
                                <td><input type="text" th:field="*{soTang}"/></td>
                            </tr>
                            <tr>
                                <td>Rental Costs</td>
                                <td><input type="text" th:field="*{chiPhiThue}"/></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td><input type="text" th:field="*{trangThai}"/></td>
                            </tr>
                            <tr>
                                <td>Rental Type</td>
                                <td>
                                    <select th:field="*{rentalType.id}">
                                        <option th:each="rentalTypes:${rentalTypes}" th:value="${rentalTypes.id}"
                                                th:text="'name: ' + ${rentalTypes.tenKieuThue} + ', price: ' + ${rentalTypes.gia}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Type Of Service</td>
                                <td>
                                    <select th:field="*{typeOfService.id}">
                                        <option th:each="typeOfServices:${typeOfServices}" th:value="${typeOfServices.id}"
                                                th:text="${typeOfServices.nameTypeOfService}">
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="Add Customer"/></td>
                            </tr>
                        </table>
                    </form>
                </li>
            </ul>
        </div>
        <div id="between_below">between_below</div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>