<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/create">Create Customer</a></p>
<table border="1px">
    <tr>
        <td>No</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Delete</td>
        <td>View</td>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td><a th:href="@{/customer/{id}/delete(id=${customer.id})}">Delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${customer.id})}">View</a></td>
    </tr>
</table>
</body>
</html>