<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::hear">
<body>
<h1>Thêm Nhân Viên</h1>
<h4><a href="/">trở về</a></h4>
<div id="form">
    <form action="/create" method="post" th:object="${nhanVien}">
        <div>
            <label>Mã Nhân Viên</label>
            <input th:field="*{maNhanVien}"/>
<!--            <h5><p th:if="${#fields.hasErrors('maNhanVien')}" th:errors="*{maNhanVien}"></p></h5>-->
        </div>
        <div>
            <label>Tên Nhân Viên</label>
            <input th:field="*{hoVaTen}"/>
            <h5><p th:if="${#fields.hasErrors('hoVaTen')}" th:errors="*{hoVaTen}"></p></h5>
        </div>
        <div>
            <label>Loại Nhân Viên</label>
            <select th:field="*{nhomNhanVien}">
                <option  value="Nhân Viên 1">Nhân Viên 1</option>
                <option value="Nhân Viên 2">Nhân Viên 2</option>
            </select>
        </div>
        <div>
            <label>Ngày Sinh</label>
            <input type="date" th:field="*{ngaySinh}"/>
            <h5><p th:if="${#fields.hasErrors('ngaySinh')}" th:errors="*{ngaySinh}"></p></h5>
        </div>
        <div>
            <label>Giới Tính</label>
            <input type="radio" th:field="*{gioiTinh}" value="Nam" name="gioiTinh" checked/> Nam
            <input type="radio" th:field="*{gioiTinh}" value="Nữ" name="gioiTinh" /> Nữ
        </div>
        <div>
            <label>Số Điện Thoại</label>
            <input th:field="*{soDienThoai}"/>
            <h5><p th:if="${#fields.hasErrors('soDienThoai')}" th:errors="*{soDienThoai}"></p></h5>
        </div>
        <div>
            <label>Chứng Minh Thư</label>
            <input th:field="*{chungMinhThu}"/>
            <h5><p th:if="${#fields.hasErrors('chungMinhThu')}" th:errors="*{chungMinhThu}"></p></h5>
        </div>
        <div>
            <label>Email</label>
            <input th:field="*{email}"/>
            <h5><p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p></h5>
        </div>
        <div>
            <label>Địa Chỉ</label>
            <input th:field="*{diaChi}"/>
            <h5><p th:if="${#fields.hasErrors('diaChi')}" th:errors="*{diaChi}"></p></h5>
        </div>
        <input type="submit" value="thêm"/>
    </form>

</div>
<header th:replace="layout::hader"></header>
</body>
</html>