<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::hear">
</head>
<body>
<h1>Danh Sách Nhân Viên</h1>
<h4><a href="/create">Thêm Nhân viên</a></h4>
<div>
    <form action="/" method="get">
        <input type="text" name="key" placeholder="Tìm Kiếm"/>
        <input type="submit" value="search"/>
    </form>
</div>
<div>
    <table>
        <tr id="headboard">
            <td>Mã Nhân Viên</td>
            <td>Nhóm Nhân Viên</td>
            <td>Họ Và Tên</td>
            <td>Giới Tính</td>
            <td>Số Điện thoại</td>
            <td colspan="2"></td>
        </tr>
        <tr th:each="nhanVien:${listNhanVien}">
            <td th:text="${nhanVien.maNhanVien}"></td>
            <td th:text="${nhanVien.nhomNhanVien}"></td>
            <td th:text="${nhanVien.hoVaTen}"></td>
            <td th:text="${nhanVien.gioiTinh}"></td>
            <td th:text="${nhanVien.soDienThoai}"></td>
            <td><a th:href="@{/edit/{id}(id=${nhanVien.maNhanVien})}">Chỉnh Sửa</a></td>
            <td><a th:href="@{/delete/{id}(id=${nhanVien.maNhanVien})}">Xóa</a></td>
        </tr>
    </table>
</div>
<header th:replace="layout::hader"></header>
</body>
</html>