<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<th:block th:include="layout::abc"></th:block>-->
<form method="post" action="/create-customer" th:object="${customer}">
    Firs Name <input type="text" th:field="*{firstName}"/> <br>
    Last Name <input type="text" th:field="*{lastName}"/><br>
    Province <select th:field="*{province.id}">
        <option  th:each="province:${listProvince}" th:value="${province.id}" th:text="${province.name}">
        </option>
    </select><br>
    <input type="submit" value="Add Customer"/>
</form>
</body>
</html>