<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<h3>Add Customer</h3>
    <form th:action="@{/save}" th:object="${customer}"
          method="POST">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"/></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}"/></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" th:field="*{address}"/></td>
            </tr>
        </table>
        <input type="submit" value="Save"/>
    </form>
<footer th:replace="layout::footer"></footer>
</body>
</html>