<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::head"></head>
<body>
<form th:action="@{/update}" th:object="${customer}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
    </table>
    <input type="submit" value="Update"/>
</form>
<footer th:replace="layout::footer"></footer>
</body>
</html>