<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<h3>Customers</h3>
<a th:href="@{/create}">Add new customer</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <tr th:each="customers : ${customers}">
        <td th:text="${customers.name}"></td>
        <td th:text="${customers.email}"></td>
        <td th:text="${customers.address}"></td>
        <td> <a th:href="@{/customer/{id}/edit(id=${customers.id})}">edit</a></td>
        <td> <a th:href="@{/customer/{id}/delete(id=${customers.id})}">delete</a></td>
        <td> <a th:href="@{/customer/{id}/view(id=${customers.id})}">view</a></td>
    </tr>
</table>
<footer th:replace="layout :: footer"></footer>
</body>
</html>