<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="layout::head"></header>
<body>
<header th:replace="layout::header"></header>
<div id="main">
    <footer th:replace="layout::section"></footer>
    <div id="between">
        <div id="between_on">
            <ul id="service">
                <li><a href="/contract-create">Thêm Hợp Đồng</a></li>
                <li><h3>Danh Sách Hợp Đồng</h3></li>
                <li>
                    <table border="1">
                        <tr>
                            <td>Tên Nhân Viên</td>
                            <td>Tên Khách Hàng</td>
                            <td>Tên Dịch Vụ</td>
                            <td>Ngày Làm Hợp Đồng</td>
                            <td>ngày Kết Thúc Hợp Đồng</td>
                            <td>Tiền Đặt Cọc</td>
                            <td>Tổng Tiền</td>
                        </tr>
                        <tr th:each="hopDong:${listHopDong.content}">
                            <td th:text="${hopDong.nhanVien.tenNhanVien}"></td>
                            <td th:text="${hopDong.khachHang.tenKhachHang}"></td>
                            <td th:text="${hopDong.dichVu.tenDichVu}"></td>
                            <td th:text="${hopDong.ngayLamHopDong}"></td>
                            <td th:text="${hopDong.ngayKetThucHopDong}"></td>
                            <td th:text="${hopDong.tienDatCoc}"></td>
                            <td th:text="${hopDong.tongTien}"></td>
                        </tr>
                    </table>
                </li>
                <li>
                    <a th:if="${listHopDong.hasPrevious()}" th:href="@{/contract(page=${listHopDong.number - 1})}">Previous</a>
                    <span th:text="${listHopDong.number + 1}"></span>/<span th:text="${listHopDong.totalPages}"></span>
                    <a th:if="${listHopDong.hasNext()}" th:href="@{/contract(page=${listHopDong.number + 1})}">Next</a>
                </li>
            </ul>
        </div>
        <div id="between_below">

        </div>
    </div>
    <footer th:replace="layout::feature"></footer>
</div>
</body>
</html>